$primaryFont : 'Varela Round', sans-serif;
$secondaryFont : 'Mukta', sans-serif;
// $secondaryColour: #45A29E;
// $primaryColour:  #6EFAF1;
$secondaryColour: #12130F;
$primaryColour: #EAE6E5;
@mixin position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;



}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about {
// @include position(14em, 0em);

  // margin: 1em;
  // margin-top: 5em;
  // color: $primaryColour;
  font-family: $secondaryFont;
  background:$secondaryColour;
  color:  $primaryColour;
//  margin: auto;
  position: absolute;
  width: 100%;
  height: 14em;
  z-index: 1;
      top: -243px;
}


.job-titles {
  font-family: $secondaryFont;
  // text-align: center; 
  padding-left: 1em;
  padding-bottom: 0;
  color: #fcbf1e;
}
.job-titles-2 {
  font-family: $secondaryFont;
  // text-align: center; 
  margin-top: -1.5em;
  padding-left: 1.2em;

}
#abt-title-2 {
  font-family: $primaryFont;
  text-align: center;
  position: relative;
  top: -1.5em;
  color: $secondaryColour;
}

.about-body {
  position: relative;
    top: -1.5em;
}

.about-body-t {
  color: $secondaryColour;
  padding-left: .5em;
}
.img-holder {
  visibility: hidden;
  width: 0%;
 
}

#paragraph-1 {

  padding: 1em;
  // padding-right: 1em;
  //  font-weight: bold;
   font-size: large;
   opacity: 1 !important;
  
}
.para-holder {
  background-color: #1b1b1b;
  width: 80%;
  margin: auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 13px 10px 0px 0px #4e4e4e;  

}
#paragraph-2 {
  padding-left: 1em;
   font-weight: bold;
   font-size: larger;

}
#ruby {
width: 0%;
}
#js{
width: 0%;
}
#react{
  width: 0%;
}
@media only screen and (max-width: 1119px) {
  .about {
  
   
    height: 17em;
    top: -273px;
  }
}
@media only screen and (max-width: 699px) {
  .about {
    top: -368px;
    height: 23em;

  }
}