$primaryFont : 'Varela Round', sans-serif;
$secondaryFont : 'Mukta', sans-serif;
// $secondaryColour: #45A29E;
// $primaryColour:  #6EFAF1;
$secondaryColour: #fcbf1e;
$primaryColour: #120136;
@mixin position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;



}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about {
@include position(14em, 0em);
  // margin: 1em;
  // margin-top: 5em;
  color: $primaryColour;
  font-family: $secondaryFont;
  color: $primaryColour;
  width: 100%;
}

.job-titles {
  font-family: $secondaryFont;
  text-align: center;
}

#abt-title-2 {
  font-family: $primaryFont;
  text-align: center;
  position: relative;
  top: -1.5em;
  color: $secondaryColour;
}

.about-body {
  position: relative;
    top: -1.5em;
}

.about-body-t {
  color: $secondaryColour;
  padding-left: .5em;
}
.img-holder {
  visibility: hidden;
  width: 0%;
 
}

#paragraph-1 {
  padding-left: 1em;
  padding-right: 1em;
   font-weight: bold;
   font-size: larger;
  
}
#paragraph-2 {
  padding-left: 1em;
   font-weight: bold;
   font-size: larger;

}
#ruby {
width: 0%;
}
#js{
width: 0%;
}
#react{
  width: 0%;
}
@media only screen and (min-width: 768px) {
.about {
  top: 17em;
} 

#paragraph-1 {
 @include flexCenter();
  width: 95%;
  padding-right: 1em;
}
// #paragraph-2 {
//   @include flexCenter();
//   // width: 100%;
//   width: 50%;
//   // padding-left: 1em;
// }
.about-body-t {
  padding-left: 2em;
}
}





@media only screen and (min-width: 1200px) {
  .img-holder {
    visibility: visible;
    position: absolute;
    transition: 250ms;

    right: 10em;
    top: 0em;
  }
   #ruby {

     width: 5em;
     position: absolute;
     top: 11.5em;
     right: 6em;
     transition: 250ms;

     &:hover {
       width: 5.4em;
       transition: 250ms;
       //  margin-left: 1em;

     }
   }

   #react {

     width: 10.8em;
     position: absolute;
     top: 16.6em;
     right: 7em;
     transition: 250ms;

     &:hover {
       width: 11.2em;
       transition: 250ms;

     }
   }

   #js {

     width: 5em;
     position: absolute;
     top: 10.8em;
     right: 14.4em;
     transition: 250ms;
  // box-shadow: 5px 5px 7px 1px #1f2830;


     &:hover {
       width: 5.4em;
       transition: 250ms;

     }
   }
}
@media only screen and (min-width: 1500px) {
  .img-holder {
    position: absolute;
    transition: 250ms;

    right: 15em;
    top: 0em;
  }
  #paragraph-1 {
    font-size: larger;
    font-weight: bold;
  }
  #paragraph-2 {
    @include flexCenter();
    // width: 100%;
    width: 50%;
    padding-left: 2em;
    font-weight: bold;
    font-size: larger;

  }
}
