$color : #12130F;
$primaryColor : #5E4AE3;
$primaryFont : 'Varela Round',
sans-serif;
$secondaryColor : #fcbf1e;
$logoFont : 'Faster One',
cursive;

$b64 : "https://image.flaticon.com/icons/png/128/109/109617.png";

@mixin postion {
  position: relative;
  left: 2em;

}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $primaryColour;
}

.con-animation-area {
  position: relative;
  top: -8em;
  width: 100%;
  height: 20.5em;
  overflow: hidden;
  transform: skewY(13deg);
}

.con-box-area {
  position: absolute;
  top: 0em;
  left: 0;
  margin: 0px;
  width: 92%;
  height: 29em;
  // transform: skewY(7deg);
  overflow: hidden;


}

.con-box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: con-animate 20s linear infinite;
  bottom: -150px;
}

.con-box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.con-box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.2s;
}

.con-box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.con-box-area li:nth-child(4) {
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 10s;
}

.con-box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.con-box-area li:nth-child(6) {
  left: 65%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes con-animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
    ;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 1;
  }

}



.contact {
  @include flexCenter();
  position: absolute;
  background: $color;
  width: 100%;
  height: fit-content;
  margin-top: 0em;
  bottom: 0em;
  top: 60em;
  opacity: 1;
  border-style: none !important;
  // &::before {
  //   position: absolute;
  //   width: 100%;
  //   height: 85%;
  //   content: '';
  //   background: $color;
  //   z-index: 0;
  //  border-style: none !important;
  //   right: 0;
  //   bottom: 16em;
  //   left: 0;
  //   // margin-top: 1em;
  //   transform-origin: top left;
  //   transform: skewY(12deg);
  // overflow: hidden;

  // }

  // ;
}

.footer {
  position: absolute;
  bottom: -42em;
  width: 100%;
  height: 9em;
  // padding-left: 2em;
  // padding-right: 2em;

  padding-bottom: 3em;
  background-color: $color;
  color: #EAE6E5;
}

.title-wrapper {
  // position: absolute;
  @include flexCenter();
  width: 100%;
  top: -12%;
}

.contact-holder {
  background-color: #1b1b1b;
  width: 80%;
  margin: auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 13px 10px 0px 0px #4e4e4e;
  // opacity: .8;
}

.contact-title {
  padding-left: 1.5em;
    color: #fcbf1e;

  // text-align: center;
  // position: absolute;
  // top: -3em;
  // width: 100%;
  // color: $primaryColor;
  // // padding-right: 1em;
  // // font-weight: 350;
  // font-family: $primaryFont
}

.contact-para {
  padding: .5em;
  // text-align: center;
  // position: absolute;
  // top: -3em;
  // width: 100%;
  // color: $primaryColor;
  // // padding-right: 1em;
  // // font-weight: 350;
  // font-family: $primaryFont
}
.contact-ul {
  background-color: $secondaryColor;
  position: absolute;
  top: -1em;
  width: 10em;
  height: 1px;
  margin-top: -1em;
  // margin-bottom: -1em;
  position: absolute;
  // left: 24%;
  margin-bottom: 1em;
}

.contact-form {
  position: absolute;
  @include flexCenter() ;
  width: 100%;
  height: auto;
  top: 4%;


}

.input-wrapper {
  padding-bottom: 1em;
  width: 100%;
  @include flexCenter()
}

.input {
  // @include postion();
  border: 1.5px black solid;
  height: 2em;
  padding-left: 1em;
  border-radius: 2em;
  width: 76%;
  max-width: 33em
}



#message-body {
  height: 9em;
  padding-top: 1em;
  border-radius: 1em;
  position: absolute;
  top: 3em;
  max-width: 60em;

}




.submit-button {
  position: absolute;
  // @include flexCenter();
  // left: 2.8em;
  border: 1px solid $primaryColor;
  background: none;
  padding: s10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  color: $primaryColor;
  width: 7em;
  height: 1.4em;
  bottom: -9em;

  &:hover {
    color: #361F42;
    // background: #45A29E;
    transition: 0.7s;

  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: $primaryColor;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0% 0% 50% 50%;

  }

  &:hover::before {
    height: 180em;
    // transition: 0.8s;
  }

}

.message-response {
  position: absolute;
  bottom: -9em;
}

#resume {
  // position: absolute;
  color: $primaryColor;
  // left: 1em;
  // bottom: 1em;
  font-size: large;
  border: 0;
  background: none;

  &:hover {
    color: $secondaryColor;

  }
&:focus {
  outline: none;


}

}

#github {
  // position: absolute;
  color: $primaryColor;
  // bottom: 1em;
  // left: 6em;
  font-size: large;
  border: 0;
  background: none;
  transition: .2s;

  &:hover {
    color: $secondaryColor;
    transition: .2s;

  }
&:focus {
  outline: none;


}


}

.project-holder {
  width: 100%;
}


@media only screen and (max-width: 1199px) {
  .footer {
    bottom: -66.9em;
    // width: 95%;
    
  }
}

@media only screen and (max-width: 699px) {
  .footer {
    bottom: -118em;
    height: 11em;
    // width: 93%;
  }
}