$color : #1f2833;
@mixin postion {
  position: relative;
  left: 2em;

}

.input {
  @include postion();
  border: 1.5px black solid;
  height: 2em;
  padding-left: 1em;
  border-radius: 2em;
  width: 76%;
}

.contact {
  position: absolute;
  background: $color;
  width: 100%;
  height: 19em;
  margin-top: 16em;
  top: 205em;
  opacity: .9;

  &::before {
    position: absolute;
    width: 100%;
    height: 122%;
    content: '';
    background: $color;
    z-index: 0;
    top: -48%;
    right: 0;
    bottom: 22%;
    left: 0;
    transform-origin: top left;
    transform: skewY(12deg);
  }

  ;
}

.input-wrapper {
  padding-bottom: 1em;
}

#message-body {
  height: 9em;
  padding-top: 1em;
  border-radius: 1em;

}

.label {
  float: left;
}


.submit-button {
  position: relative;
  left: 2.8em;
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  color: #3498db;
  width: 12em;

  &:hover {
    color: #fff;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;

  }

  &:hover::before {
    height: 180em;
    // transition: 0.8s;
  }

}

.contact-form {
  position: absolute;
  top: 220em;
  width: 100%;


}