@font-face {
  font-family: 'Mukta';
  src: url('fonts/Mukta/Mukta-Regular.ttf'),
  url('fonts/Mukta/Mukta-Regular.woff') format('woff'),
    url('fonts/Mukta/Mukta-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 200
}

$secondaryFont : 'Mukta',
sans-serif;

@font-face {
  font-family: 'Varela Round';
  src: url('fonts/Varela_Round/VarelaRound-Regular.ttf'),
    url('fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300
}

$primaryFont : 'Varela Round',
sans-serif;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
$primaryColour : #1f2833;
$secondaryColour : #38509a;





.projects {
  @include flexCenter();
  // position: absolute;
  // top: 78em;
  width: 100%

}

.project-holder {
    @include flexCenter();
  width: 100%;
  height: 30em;
  top: 1373px;
  background:#12130F;
  position: absolute;
  display: grid;
  // grid-template-columns: repeat(3, 6fr);
  grid-gap: 10px;
  justify-items: center;

}

.title-tl {
  background-color: #40bad5;
  width: 14em;
  height: 1px;
  // margin: -1em;
  position: absolute;
  top: 3em;
  // margin-top: 1em;
  //  @include flexCenter();
}

.project-title {
  color: #fcbf1e;
  // padding-left: .2em;
  // font-weight: 350;
  font-family: $secondaryFont;
  position: absolute;
  // text-align: center;
  top: 0em;
  left: 1em
  
}

.title-ul {
  background-color: #40bad5;;
  width: 14em;
  height: 1px;
  // margin: -1em;
  position: absolute;
  top: 6em;
  margin-bottom: 1em;
}

.card-holder {
  // position: absolute;
  // @include flexCenter();
  // top: 9em;
  // top: 9em;
  width: 100%;
  // display: flex;
  grid-gap: 10px;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(4, 1fr);
  /* margin: auto; */
   grid-template-areas:
    "a a b b c c d d"
    "a a b b c c d d"
    "a a b b c c d d"
    "a a b b c c d d";
  justify-content: center;
    align-items: start;
padding-top: 4em;
  
  // left: 23px;
  // display: flex;
  // height: auto;
  width: 100%;
  justify-content: flex-start;
}
.full-list {
  visibility: visible;
  position: relative;
  top: 7em;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: grid;

}


.flip-card-container {
  // position: absolute;
  // top: 9em;
  font-family: $secondaryFont;

  width: 300px;
  height: 400px;
  perspective: 1000px;
  // margin-left: 1.3em; i just comminted out
  // margin-bottom: 2.5em;
  // box-shadow: 5px 5px 7px 1px #1f2830;
  
  
}


.flip-card-container:hover .flip-card {
  transform: rotateY(180deg);
  /* <=>  rotateY(.5turn) */
}

.flip-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform .5s;
  transform-style: preserve-3d;
  
  // box-shadow: 5px 5px 7px 1px #1f2830;
  
}


.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 0.5rem;
  background-color: $secondaryColour;
  color: #fff;
  // box-shadow: 5px 5px 7px 1px #1f2830;
  // box-shadow: 0px 13px 35px 14px #333;
  
}

.p-img {
  height: auto;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 2.7em;
  width: 99.3%;
  // border-radius: 0.5em;
  backface-visibility: hidden;
  
}

.card-footer {
  bottom: 26%;
  position: absolute;
  background-color: $secondaryColour;
  width: 100%;
  height: 14em;
  top: 11em;
  // border-radius: .5em;
  backface-visibility: hidden;
  
  
  &::before {
    position: absolute;
    width: 100%;
    height: 64%;
    content: '';
    background: inherit;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
    transform-origin: bottom left;
    transform: skewY(-4deg);
    
    
  }
  
}

.p-name {
  color: #EAE6E5;
  position: absolute;
  top: -10%;
  left: 4%;
  backface-visibility: hidden;
  font-family: $secondaryFont;
  // text-align: center;
  
}

.p-features {
  position: relative;
  top: 22%;
  // z-index: 0;
  backface-visibility: hidden;
}

.list-point {
  font-size: larger;
  font-weight: 100;
  color: #fcbf1e;
  text-align: center; 
  margin: 0;
  font-family: 'Roboto',
  sans-serif;
  ;
}

.list-point-ul {
  background-color: #444;
  width: 22%;
  height: 1px;
  margin-top: 3px;
  margin-bottom: 5px;
  position: relative;
  left: 39%;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 0.5rem;
  background-color: #5E4AE3;
  color: #fcbf1e;
  transform: rotateY(180deg);
  // box-shadow: 0px 13px 35px 14px #333;
}



.p-discription {
  margin: 1em;
  font-family: 'Roboto',
  sans-serif;
  text-align: center;
}

.demo-but {
  position: absolute;
  top: 17em;
  left: 1.2em;
  border: 1px solid #fcbf1e;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Roboto',
  sans-serif;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  color: #fcbf1e;
  
  &:hover {
    color: #361F42;
    ;
  }
  &:focus {
    outline: none;


  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fcbf1e;
    z-index: -1;
    transition: 0.5s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    
  }
  
  &:hover::before {
    height: 180em;
    // transition: 0.8s;
  }
  
}

.code-but {
  position: absolute;
  top: 17em;
  right: 1.2em;
  border: 1px solid #fcbf1e;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Roboto',
  sans-serif;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  color: #fcbf1e;
  
  &:hover {
    color: #361F42;
  }
  &:focus {
    outline: none;


  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fcbf1e;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    
  }
  
  &:hover::before {
    height: 180em;
    // transition: 0.8s;
  }
  
}

.more-projects {
  position: relative;
  // top: 17em;
  // right: 1.2em;
  border: 1px solid #fcbf1e;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Roboto',
    sans-serif;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  color: #fcbf1e;

  &:hover {
    color: #361F42;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fcbf1e;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;

  }

  &:hover::before {
    height: 180em;
    // transition: 0.8s;
  }

}


@media only screen and (max-width: 1199px) {
  .project-holder {
  //  top: 23em;
    height: 55em;
  }
  .card-holder {
        grid-template-areas:
         "a a b b"
        "a a b b"
        "c c d d"
        "c c d d";
    
  }

}

 @media only screen and (max-width: 699px) {
  .flip-card-container{
    margin-bottom: 1em;
  }
.project-holder {
     top: 2749px;
  height: 108em;

}
.card-holder{
   display: block;
}

}

// @media only screen and (min-width: 768px) { 
//   .projects {
//     left: 11em;
//   }
  
//   .title-tl {
//     margin-top: 2.5em;
//   }

// }

// @media only screen and (min-width: 1024px) {
// .title-tl {
//   top: 1em;
// }
//   .project-title{
//     top: 0em
//   }
// .title-ul {
//   top: 4em;
// }

//   .full-list {
//  display: grid;
//  grid-template-columns: repeat(3, 6fr);
//   grid-gap: 10px;
// justify-items: center;
//   }
  
// .flip-card-container {
//   margin-bottom: 0em;
// }
// }