$primaryColor : #C5C6C7;

.skills-holder {
    top: 42em;
    left: 5.5em;
    height: 23em;
    width: 12em;
    background-color: $primaryColor;
    position: absolute;
    text-align: center;
    box-shadow: 5px 5px 7px 1px #0B0C10;
    ;
}

#arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 52em;
    left: 2em;
    border-right:10px solid $primaryColor;
    // box-shadow: 3px 3px 5px 1px #fff;

    
}


#arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 52em;
    right: 2em;
    border-left: 10px solid $primaryColor;
    // box-shadow: 3px 3px 5px 1px #fff;

}
.skill-li {
padding-right: 2em;

}