$primaryColor : #999999;
$secondaryColor : #333333;
$primaryFont : 'Varela Round', sans-serif;
$secondaryFont : 'Mukta', sans-serif;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  overflow: hidden;
  @include flexCenter;
}
.skills-holder {
  position: absolute;
  top: 42em;
  // left: 7em;
  height: 23em;
  width: 12em;
  background-color: $primaryColor;
  text-align: center;
  box-shadow: 0px 10px 15px 4px #0B0C10;
//   font-family: $secondaryFont;
}
.lrg-skills-holder {
  visibility: hidden;
}
.skill-list-img {
 position: relative;
 top: 1.5em;
 width: 30%;
}
// #frontend{

// }

#backend{
  opacity: 0.7;
  padding-top: 1em;
  padding-bottom: .2em;
  width: 20%;
}

#database{
  opacity: 0.7;
  padding-top: 1em;
  padding-bottom: .2em;
  width: 20%;
}
// #deployment {

// }
.skill-list {
  position: relative;
  top: 4.8em; 
  color: $secondaryColor; 
}

.skill-list-item {
  margin-bottom: -1em;
}
.underline {
  background-color: #888888;
  width: 2em;
  height: 1px;
  margin: -1em;
  position: relative;
  left: 6em;
}

.skill-title {
  font-family: $primaryFont;
}


#arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 52em;
  left: 2em;
  border-right:10px solid $primaryColor;    
  box-shadow: 7px 1px 3px -2px #0B0C10

}


#arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 52em;
  right: 2em;
  border-left: 10px solid $primaryColor;
  box-shadow: -7px 1px 3px -2px #0B0C10;

}
.skills-wrapper {
  visibility: hidden;
  width: 0%;

}


@media only screen and (min-width: 375px) {
  // .skills-holder {
  //   left: 5.8em;
  // }
}

@media only screen and (min-width: 768px) {
 .skills {
   overflow: inherit;
 }
  #arrow-right {
    visibility: hidden !important;
  }
  #arrow-left{
    visibility: hidden !important;
  }
  .skills-holder {
    visibility: hidden;
  }
  .lrg-skills-holder {
    visibility: visible;
    position: relative;
    top: -58em;
    // left: 5.5em;
    height: 23em;
    width: 12em;
    background-color: $primaryColor;
    text-align: center;
    box-shadow: 0px 10px 15px 4px #0B0C10;
    margin-right: -1em;
     transition: .5s;   
    &:hover{
     transition: .5s;
      top: -61em;
      // transition-delay: 1s;
    }

  }
  .skills-wrapper {
    visibility: visible !important;   
    @include flexCenter(); 
    // top: ;
    position: relative;
    width: 100%;
    right:  .5em;

  }
}

@media only screen and (min-width: 1024px) {
  .lrg-skills-holder {
    margin: .5em;
  }
  .skills-wrapper {
    top: -.6em;
  }
}

@media only screen and (min-width: 1500px) {
  
}