$primaryColor : #999999;
$secondaryColor : #333333;
$primaryFont : 'Varela Round', sans-serif;
$secondaryFont : 'Mukta', sans-serif;



.skills-holder {
  top: 42em;
  left: 5.5em;
  height: 23em;
  width: 12em;
  background-color: $primaryColor;
  position: absolute;
  text-align: center;
  box-shadow: 5px 5px 7px 1px #0B0C10;
//   font-family: $secondaryFont;
}
.skill-list-img {
 position: relative;
 top: 1.5em;
}

.skill-list {
  position: relative;
  top: 4.8em; 
  color: $secondaryColor; 
}

.skill-list-item {
  margin-bottom: -1em;
}
.underline {
  background-color: #888888;
  width: 2em;
  height: 1px;
  margin: -1em;
  position: relative;
  left: 6em;
}

.skill-title {
  font-family: $primaryFont;
}


#arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 52em;
  left: 2em;
  border-right:10px solid $primaryColor;    
}


#arrow-right {
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   position: absolute;
   top: 52em;
   right: 2em;
   border-left: 10px solid $primaryColor;
}
.skill-li {
//   padding-right: 2em;
}