@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;

}

.demo-gif {
  width: 100%;
   position: relative;
   top: 2em;
   max-width: 750px;
   margin-top: 0em;
  
}

.close-but {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 4em;
  height: 2em;
  background-color: #45A29E;
  color: #fff;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  transition: .3s;
    &:hover {
      background-color: #6EFAF1;
      transition: .3;
      
    }
  // border-radius: .5em;
}

.modal-title {
  color: #fff;
  @include flexCenter();
  margin-top: 0em;
  margin-bottom: 0em;
}

