.about {
  position: absolute;
  top: 11em;
  left: 0em;
  margin-top: 5em;
  color: #6EFAF1;
  font-family: "Mukta", sans-serif;
  color: lightgrey;
  width: 100%;
}

.job-titles {
  font-family: "Mukta", sans-serif;
  text-align: center;
}

#abt-title-2 {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  position: relative;
  top: -1.5em;
  color: #45A29E;
}

.about-body {
  position: relative;
  top: -1.5em;
}

.about-body-t {
  color: #45A29E;
}

@media only screen and (min-width: 768px) {
  top: 13em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: #333;
  width: 100%;
  height: 20em;
  margin-top: 22em;
  bottom: 0em;
  top: 210em;
  opacity: .9;
}

.contact::before {
  position: absolute;
  width: 100%;
  height: 85%;
  content: '';
  background: #333;
  z-index: 0;
  right: 0;
  bottom: 16em;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewY(12deg);
          transform: skewY(12deg);
}

.title-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: -12%;
}

.contact-tl {
  background-color: #45A29E;
  position: absolute;
  width: 10em;
  height: 1px;
  top: -5em;
}

.contact-title {
  text-align: center;
  position: absolute;
  top: -3em;
  width: 100%;
  color: #66FCF1;
  font-weight: 350;
  font-family: "Varela Round", sans-serif;
}

.contact-ul {
  background-color: #45A29E;
  position: absolute;
  top: -1.3em;
  width: 10em;
  height: 1px;
  margin-top: -1em;
  position: absolute;
  margin-bottom: 1em;
}

.contact-form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  top: 4%;
}

.input-wrapper {
  padding-bottom: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  border: 1.5px black solid;
  height: 2em;
  padding-left: 1em;
  border-radius: 2em;
  width: 76%;
}

#message-body {
  height: 9em;
  padding-top: 1em;
  border-radius: 1em;
  position: absolute;
  top: 3em;
}

.submit-button {
  position: absolute;
  border: 1px solid #45A29E;
  background: none;
  padding: s10px 20px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
  color: #45A29E;
  width: 12em;
  bottom: -9em;
}

.submit-button:hover {
  color: #fff;
}

.submit-button::before {
  content: "";
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #45A29E;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.submit-button:hover::before {
  height: 180em;
}

#resume {
  position: absolute;
  color: #45A29E;
  left: 1em;
  bottom: 1em;
}

#resume:hover {
  color: #66FCF1;
}

#github {
  position: absolute;
  color: #45A29E;
  bottom: 1em;
  left: 6em;
  -webkit-transition: .2s;
  transition: .2s;
}

#github:hover {
  color: #66FCF1;
  -webkit-transition: .2s;
  transition: .2s;
}

@media only screen and (min-width: 768px) {
  .contact {
    margin-top: 23em;
  }
  .contact:before {
    height: 100%;
    bottom: 12em;
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
  }
}

@media only screen and (min-width: 1024px) {
  .contact {
    margin-top: 25em;
  }
  .contact:before {
    height: 122%;
    bottom: 12em;
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 74em;
  width: 100%;
}

.title-tl {
  background-color: #45A29E;
  width: 14em;
  height: 1px;
  position: absolute;
  top: 3em;
}

.project-title {
  color: #66FCF1;
  font-weight: 350;
  font-family: "Varela Round", sans-serif;
  position: absolute;
  top: 1.5em;
}

.title-ul {
  background-color: #45A29E;
  width: 14em;
  height: 1px;
  position: absolute;
  top: 8em;
  margin-bottom: 1em;
}

.card-holder {
  position: absolute;
  top: 9em;
}

.flip-card-container {
  font-family: "Mukta", sans-serif;
  width: 300px;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-bottom: 2.5em;
}

.flip-card-container:hover .flip-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  /* <=>  rotateY(.5turn) */
}

.flip-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #555555;
  color: #fff;
  -webkit-box-shadow: 0px 13px 35px 14px #333;
          box-shadow: 0px 13px 35px 14px #333;
}

.p-img {
  height: auto;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 2.7em;
  width: 99.3%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-footer {
  bottom: 26%;
  position: absolute;
  background-color: #555555;
  width: 100%;
  height: 14em;
  top: 11em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-footer::before {
  position: absolute;
  width: 100%;
  height: 64%;
  content: '';
  background: inherit;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
}

.p-name {
  color: #222222;
  position: absolute;
  top: -10%;
  left: 4%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.p-features {
  position: relative;
  top: 22%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.list-point {
  font-size: larger;
  font-weight: 100;
  color: #dddddd;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.list-point-ul {
  background-color: #888888;
  width: 22%;
  height: 1px;
  margin: 5px;
  position: relative;
  left: 39%;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1f2833;
  color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 0px 13px 35px 14px #333;
          box-shadow: 0px 13px 35px 14px #333;
}

.p-discription {
  margin: 1em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.demo-but {
  position: absolute;
  top: 17em;
  left: 1.2em;
  border: 1px solid #45A29E;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
  color: #45A29E;
}

.demo-but:hover {
  color: #fff;
}

.demo-but::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #45A29E;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.demo-but:hover::before {
  height: 180em;
}

.code-but {
  position: absolute;
  top: 17em;
  right: 1.2em;
  border: 1px solid #45A29E;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
  color: #45A29E;
}

.code-but:hover {
  color: #fff;
}

.code-but::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #45A29E;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.code-but:hover::before {
  height: 180em;
}

.skills {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-holder {
  position: absolute;
  top: 42em;
  height: 23em;
  width: 12em;
  background-color: #999999;
  text-align: center;
  -webkit-box-shadow: 0px 10px 15px 4px #0B0C10;
          box-shadow: 0px 10px 15px 4px #0B0C10;
}

.lrg-skills-holder {
  visibility: hidden;
}

.skill-list-img {
  position: relative;
  top: 1.5em;
  width: 30%;
}

#backend {
  opacity: 0.7;
  padding-top: 1em;
  padding-bottom: .2em;
  width: 20%;
}

#database {
  opacity: 0.7;
  padding-top: 1em;
  padding-bottom: .2em;
  width: 20%;
}

.skill-list {
  position: relative;
  top: 4.8em;
  color: #333333;
}

.skill-list-item {
  margin-bottom: -1em;
}

.underline {
  background-color: #888888;
  width: 2em;
  height: 1px;
  margin: -1em;
  position: relative;
  left: 6em;
}

.skill-title {
  font-family: "Varela Round", sans-serif;
}

#arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 52em;
  left: 2em;
  border-right: 10px solid #999999;
  -webkit-box-shadow: 7px 1px 3px -2px #0B0C10;
          box-shadow: 7px 1px 3px -2px #0B0C10;
}

#arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 52em;
  right: 2em;
  border-left: 10px solid #999999;
  -webkit-box-shadow: -7px 1px 3px -2px #0B0C10;
          box-shadow: -7px 1px 3px -2px #0B0C10;
}

.skills-wrapper {
  visibility: hidden;
  width: 0%;
}

@media only screen and (min-width: 768px) {
  .skills {
    overflow: inherit;
  }
  #arrow-right {
    visibility: hidden !important;
  }
  #arrow-left {
    visibility: hidden !important;
  }
  .skills-holder {
    visibility: hidden;
  }
  .lrg-skills-holder {
    visibility: visible;
    position: relative;
    top: -58em;
    height: 23em;
    width: 12em;
    background-color: #999999;
    text-align: center;
    -webkit-box-shadow: 0px 10px 15px 4px #0B0C10;
            box-shadow: 0px 10px 15px 4px #0B0C10;
    margin-right: -1em;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .lrg-skills-holder:hover {
    -webkit-transition: .5s;
    transition: .5s;
    top: -61em;
  }
  .skills-wrapper {
    visibility: visible !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    right: .5em;
  }
}

@media only screen and (min-width: 1024px) {
  .lrg-skills-holder {
    margin: .5em;
  }
  .skills-wrapper {
    top: -.6em;
  }
}

.demo-gif {
  width: 100%;
}

.App-header {
  position: relative;
  background-color: #202833;
  background-image: url(".././hooks/photos/toronto.gif");
  width: 100%;
  height: 12em;
  top: -21px;
}

.App-header:after {
  position: absolute;
  width: 100%;
  height: 130%;
  content: '';
  background: inherit;
  background-image: url(".././hooks/photos/toronto.gif");
  z-index: -1;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.overlay {
  background-color: #202833;
  width: 100%;
  position: absolute;
  height: 12em;
  opacity: .9;
  top: 0;
}

.overlay::after {
  position: absolute;
  width: 100%;
  height: 120%;
  content: '';
  background: inherit;
  z-index: -1;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

#title {
  position: relative;
  top: -6em;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mukta", sans-serif;
  color: #66FCF1;
}

#job-title {
  position: relative;
  top: -12em;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #45A29E;
  font-weight: 200;
  font-family: "Mukta", sans-serif;
}

#logo {
  position: relative;
  top: -6.5em;
  left: 0.5em;
  font-family: "Faster One", cursive;
  width: 10%;
  font-size: 2em;
  color: #45A29E;
}

.nav-bar {
  display: none;
}

.wrapper {
  width: 100%;
  margin-top: 5em;
}

.seperator {
  position: relative;
  top: 3em;
  left: 0%;
  width: 100%;
  background-image: url(".././hooks/photos/banner2.jpg");
  height: 31em;
  margin-top: 9em;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.seperatorOverlay {
  position: relative;
  top: -31em;
  left: 0%;
  width: 100%;
  background: #202833;
  height: 31em;
  margin-top: 3em;
  opacity: 0.8;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.projects-button {
  position: absolute;
  top: 1em;
  right: 1em;
  border-radius: 2em;
  border: none;
  height: 3em;
  width: 9em;
  font-size: .9em;
  color: aliceblue;
  background: #45A29E;
}

@media only screen and (min-width: 768px) {
  .App-header {
    background-image: url(".././hooks/photos/header.gif");
    background-size: cover;
    background-position: center;
    height: 17em;
  }
  .App-header::after {
    visibility: hidden;
  }
  .overlay {
    color: #6EFAF1;
    height: 15.9em;
  }
  .overlay::after {
    visibility: hidden;
  }
  .seperatorOverlay {
    margin-top: 3em;
  }
  #job-title {
    top: -15em;
  }
  #title {
    top: -8em;
  }
  #logo {
    top: -9em;
    left: .8em;
  }
}

@media only screen and (min-width: 1250px) {
  #job-title {
    top: -15.5em;
  }
  .projects-button {
    opacity: .8;
  }
  .projects-button:hover {
    opacity: 1;
  }
}

@media only screen and (min-width: 1500px) {
  #job-title {
    top: -15.5em;
  }
}
/*# sourceMappingURL=style.css.map */