@media only screen and (min-width: 768px) {
  .App-header {
    background: blue;
  }
}

.about {
  margin-top: 10em;
}

.input {
  position: relative;
  left: 2em;
  border: 1.5px black solid;
  height: 2em;
  padding-left: 1em;
  border-radius: 2em;
  width: 76%;
}

.contact {
  position: relative;
  background: red;
  width: 100%;
  height: 19em;
  margin-top: 14em;
}

.contact::before {
  position: absolute;
  width: 100%;
  height: 122%;
  content: '';
  background: red;
  z-index: 0;
  top: -48%;
  right: 0;
  bottom: 22%;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewY(12deg);
          transform: skewY(12deg);
}

.input-wrapper {
  padding-bottom: 1em;
}

#message-body {
  height: 9em;
  padding-top: 1em;
  border-radius: 1em;
}

.label {
  float: left;
}

.submit-button {
  position: relative;
  left: 2em;
  color: white;
  background-color: blue;
  width: 81%;
  height: 2em;
  border: none;
}

.flip-card-container {
  font-family: "Mukta", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-left: 1.3em;
  margin-bottom: .5em;
}

.flip-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  /* <=>  rotateY(.5turn) */
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
}

.flip-card-front {
  background-color: #333;
  color: #fff;
}

.flip-card-back {
  background-color: #517fa4;
  color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-header {
  bottom: 26%;
  position: absolute;
  background: red;
  width: 100%;
  height: 10em;
  top: 0em;
  border-radius: .5em;
}

.card-header:after {
  position: absolute;
  width: 100%;
  height: 64%;
  content: '';
  background: inherit;
  z-index: 0;
  top: 129px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: skewY(-13deg);
          transform: skewY(-13deg);
}

#profile-photo {
  max-width: 25%;
  max-height: 25%;
  border-radius: 5em;
  position: relative;
  top: 0%;
  left: 38%;
  margin-top: 1em;
}

.App-header {
  position: relative;
  background: red;
  width: 100%;
  height: 12em;
}

.App-header:after {
  position: absolute;
  width: 100%;
  height: 122%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewY(12deg);
          transform: skewY(12deg);
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
  font-family: "Mukta", sans-serif;
}

#job-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
  margin-top: -17px;
  font-family: "Mukta", sans-serif;
}

#logo {
  position: relative;
  top: -35%;
  left: 4%;
  font-family: "Faster One", cursive;
  background: red;
  width: 10%;
  font-size: 2em;
}

.nav-bar {
  display: none;
}

.wrapper {
  width: 100%;
  margin-top: 5em;
}

.seperator {
  width: 100%;
  background: red;
  height: 19em;
  margin-top: 3em;
  margin-bottom: 3em;
  -webkit-transform: skewY(12deg);
          transform: skewY(12deg);
}
/*# sourceMappingURL=style.css.map */